

<h1>CARRITO DE COMPRAS</h1>

{{#each productos}}
<div class="product-item">
  <p>Producto: {{this.product.title}}</p>
  <p>Cantidad: {{this.quantity}}</p>
  <p>Precio: ${{this.product.totalPrice}}</p>
  <form class="update-quantity-form" data-cartid="{{this.cartId}}" data-productid="{{this.product._id}}">
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" min="1" value="{{this.quantity}}" required>
    <button onclick="actualizarCantidades('{{this.cartId}}','{{this.product._id}}' )">ActualizarCantidad</button>
  </form>
  <button onclick="eliminarProducto('{{this.cartId}}','{{this.product._id}}')">Eliminar</button>
</div>
{{/each}}

 <script>
  function eliminarProducto(cartId, productoId) {
    fetch(`/api/carts/${cartId}/product/${productoId}` , {
      method:'DELETE'
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('error al eliminar producto');
        }
        location.reload();
      })
      .catch(error => {
        console.error(error);
      })
  }

  function actualizarCantidades(cartId, productId){
    const quantity = document.querySelector(`[data-cartid="${cartId}"][data-productid="${productId}]`)

  
  



/////////////////////////////////////////////////////////////////////////////////
      document.querySelectorAll('.update-quantity-form').forEach(form => {
      form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const form = event.target;
      const cartId = form.dataset.cartid;
      const productId = form.dataset.productid;
      const newQuantity = form.querySelector('#quantity').value;

      try {
        const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ quantity: newQuantity })
        });

        if (response.ok) {
          const data = await response.json();
          console.log(data.message);
          location.reload();
        } else {
          console.error('Error al actualizar la cantidad del producto');
        }
      } catch (error) {
        console.error('Error al hacer la solicitud:', error);
      }
    });
  });

  
     
</script>  