

<h1>Carrito de Compras</h1>

{{#each productos}}
  <div>
    <p>Producto: {{this.product.title}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <p>Precio: ${{this.product.totalPrice}} </p>
    {{!-- <button type="submit">Eliminar</button> --}}
    <button onclick="eliminarProducto('{{this.cartId}}','{{this.product._id}}')">eliminar</button>

  </div>
{{/each}}

<script>
  function eliminarProducto(cartId, productoId) {
    fetch(`/api/carts/${cartId}/product/${productoId}` , {
      method:'DELETE'
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('error al eliminar producto');
        }
        location.reload();
      })
      .catch(error => {
        console.error(error);
      })
  }
</script>
